# URL do app principal (shell) após login de agente/admin
VITE_SHELL_URL=http://localhost:5173/sistema-emprestimos/

# URL do portal após login de solicitante
VITE_PORTAL_URL=http://localhost:5173/sistema-emprestimos/portal

# (Opcional) Override das URLs do GLPI
# VITE_GLPI_URL=https://chamados.oabce.org.br/apirest.php
# VITE_GLPI_APP_TOKEN=seu_token_aqui
